.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 0rem;
}

.title {
  font-size: 2.5rem;
  color: #0070f3;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.2rem;
  color: #666;
  text-align: center;
  max-width: 600px;
}
