.container {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 3.5vh; */
  height: 93vh;
  border: 1px solid #000;
  padding-top: 3.5vh;
}

.title {
  font-size: 2.5rem;
  color: #0070f3;
}

.subtitle {
  font-size: 1.2rem;
  color: #666;
  text-align: center;
  max-width: 600px;
}
